[submodule "monev-service"]
	path = monev-service
	url = git@github.com:samudra-ajri/monev-service.git
[submodule "monev-website"]
	path = monev-website
	url = git@github.com:samudra-ajri/monev-website.git
[submodule "monev-fe"]
	path = monev-fe
	url = git@github.com:devsabil/monev-fe.git
[submodule "monev-fe-react"]
	path = monev-fe-react
	url = git@github.com:abuabdirohman4/monev-fe-react.git
